@import './entry-point';

.card .card-content,
.card .card-action {
    padding: 18px;
    a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):not(.disabled) {
        color: $c-gold-dark;
    }
    a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):not(.disabled):hover {
        color: $c-gold;
    }
}

.meta-items {
    margin: 1em 0;
}
.meta-item {
    margin: 0;
    font-size: 0.8em;
}
.meta-collection {
    //background-color controlled in component based on content
    font-size: 1.4em;
    font-weight: bold;
    margin-right: 0.5em;
    line-height: 1.4em;
    padding: 0.3em 0.16em 0.3em 0.3em;
}
.col-gold {
    background-color: rgba($color: $c-gold, $alpha: 0.6);
}
.col-blue {
    background-color: rgba($color: $c-blue, $alpha: 0.6);
}
.col-red {
    background-color: rgba($color: $c-red, $alpha: 0.4);
}
.favorites-active,
.text-active {
    -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: $c-gold-dark;
    color: $c-red;
}
.full-text-selection {
    color: $c-gold-dark;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    &:hover {
        color: $c-blue-darker;
    }
}
