@import './entry-point';

.card .card-content,
.card .card-action {
    padding: 18px;
}

.meta-items {
    margin: 1em 0;
}
.meta-item {
    margin: 0;
    font-size: 0.8em;
}

.favorites,
.favorites-active {
    float: right;
}
.favorites {
    -webkit-text-stroke-width: 1px;
    //-webkit-text-stroke-color: $c-gold-dark;
    color: $c-blue-darker;
}
.favorites-active {
    -webkit-text-stroke-width: 1px;
    // -webkit-text-stroke-color: $c-gold-dark;
    color: red;
}
