.tabs .tab a.active {
    background-color: rgba(246, 178, 181, 0.2);
}
.tabs .tab a:hover {
    background-color: rgba(246, 178, 181, 0.4);
}

em {
    background-color: yellow;
}

h4,
h5 {
    font-family: 'Noto Serif', serif;
}
