@import './entry-point';

.full-text {
    line-height: 1.2em;
}
.full-text-ctls {
    color: #039be5;
    padding: 1em;
    display: flex;
    flex: 1 0 0;
    justify-content: space-around;
    line-height: 32px;
    margin: 2em;
    .btn-flat {
        color: rgb(3, 155, 229);
        &:active {
            color: rgba(3, 155, 229, 0.5);
        }
        &:hover {
            color: rgba(3, 155, 229, 0.5);
        }
        &:focus {
            background-color: transparent;
        }
        i {
            font-size: 3em;
        }
    }
    .btn {
        margin-right: 1em;
        min-width: 10%;
        background-color: rgb(187, 184, 184);
        height: 32px;
    }
}

.full-text-pages {
    font-size: 2.4em;
    font-weight: bold;
    vertical-align: middle;
}
.full-text-details {
    margin-bottom: 3em;
    font-weight: bold;
    text-transform: uppercase;
}
@media #{$small-and-down} {
    // styles for small screens and down
    .full-text-ctls {
        padding: 0.6em;
        margin: 0.2em 0.4em 1em 0.4em;
        .btn-flat {
            i {
                font-size: 1.6em;
            }
        }
    }
    .full-text-pages {
        font-size: 1.4em;
    }
}
