@import './entry-point';

nav {
    background-color: $c-light;
    color: $c-dark;
    .brand-logo {
        color: $c-dark;
        top: 10px;
    }
    img {
        height: 40px;
        line-height: 40px;
    }
}
.nav-wrapper {
    background-color: $c-dark;
}
.nav-indent {
    padding-right: 1em;
}
.img-cover {
    background-size: cover;
}
.sidenav {
    background-color: $c-darker;
    color: $c-light;
    li {
        a {
            &:hover {
                background-color: $c-dark;
                > i {
                    color: rgba($color: $c-light, $alpha: 1);
                }
            }
            i {
                color: rgba($color: $c-light, $alpha: 0.54);
            }
        }
    }
    .collapsible-header {
        &:hover,
        &:focus {
            background-color: $c-darker;
            opacity: 0.6;
        }
    }
    .collapsible-body {
        border-bottom: 1px dashed #666;
        border-top: none;
        border-right: none;
        background-color: $c-dark;
        padding: 0 1em;
    }
    .user-view {
        padding: 1em 2em;
        p {
            padding: 0 0 1em 0;
            line-height: 1.4em;
            font-size: 1.1em;
        }
        h4 {
            letter-spacing: 0.2em;
            font-family: 'Noto Serif', serif;
            color: $c-gold;
        }
    }
}

.collapsible {
    border-left: 1px solid $c-gold-dark;
    border-top: none;
    border-right: none;
}

nav a.sidenav-trigger {
    color: $c-gold;
    height: 40px;
    line-height: 40px;
    background-color: transparent;
    box-shadow: none;
    transition: color 600ms;
    &:hover {
        color: $c-gold-dark;
        background-color: transparent;
        box-shadow: none;
    }
}

.side-dagger {
    transform-origin: 24% 56%;
    margin-left: 0.6em;
}

@media #{$small-and-down} {
    // styles for medium screens and down
    nav {
        img {
            height: 36px;
            line-height: 36px;
        }
    }
}
