@import './entry-point';

nav {
    background-color: $c-light;
    color: $c-dark;
    .brand-logo {
        color: $c-dark;
        top: 10px;
    }
    img {
        height: 40px;
        line-height: 40px;
    }
}

.img-cover {
    background-size: cover;
}

.sidenav .collapsible-body,
.user-view p {
    padding: 1em;
    line-height: 1.2em;
}

nav a.sidenav-trigger {
    color: $c-gold-dark;
    height: 40px;
    line-height: 40px;
    background-color: transparent;
    box-shadow: none;
    transition: color 500ms;
    &:hover {
        color: $c-gold;
        background-color: transparent;
        box-shadow: none;
    }
}

@media #{$small-and-down} {
    // styles for medium screens and down
    nav {
        img {
            height: 36px;
            line-height: 36px;
        }
    }
}
