@import './entry-point';

.result-meta {
    font-size: 0.8em;
    font-style: italic;
    padding-bottom: 1em;
}
.result-pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    > .btn {
        min-width: 30%;
        height: 2em;
        // min-width: 22%;
        // max-width: 25%;
        line-height: 2em;
        flex-basis: 100px;
        align-content: center;

        align-items: center;
    }
    > .result-pagination-msg {
        flex: 1;
    }
}
.boldy {
    font-weight: bold;
}

.result-pagination-msg {
    vertical-align: middle;
    //text-align: center;
    margin-top: 1em;
    font-style: italic;
}
.span-title {
    text-transform: uppercase;
    padding: 0 1em 0 0;
    font-weight: bold;
}

.more-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 400ms ease-out, opacity 300ms ease-out;
}

.make-visible {
    opacity: 1;
    max-height: 400vh;
    overflow: scroll;
    transition: max-height 500ms ease-in, opacity 600ms ease-in;
}

.search-form {
    margin-top: 2em;
    > .btn {
        min-width: 50%;
    }
}
.search-results,
.search-menu,
.search-form {
    width: $w-8;
    //border: 1px solid #222;
    padding: 10px;
    .row .col {
        padding: 0;
    }
    .tabs .tab a {
        color: $c-gold-dark;
        &.active,
        &:focus.active,
        &:focus {
            background-color: rgba($color: $c-gold-dark, $alpha: 0.4);
            color: $c-dark;
        }
        &:hover.active,
        &:hover {
            background-color: rgba($color: $c-gold-dark, $alpha: 0.6);
            color: $c-dark;
        }
    }
}

.search-menu {
    li:nth-child(3) {
        a {
            overflow-wrap: break-word;
            font-style: italic;
        }
        min-width: 40%;
    }
}

.card {
    min-height: 40px;
}

@media #{$medium-and-down} {
    // styles for medium screens and down
    .search-form,
    .search-menu,
    .search-results {
        width: $w-10;
        padding: 4px;
    }
}

@media #{$small-and-down} {
    // styles for small screens and down
    .search-form,
    .search-menu,
    .search-results {
        width: $w-11;
    }
    .search-menu {
        li:nth-child(3) {
            a {
                font-size: 0.8em;
                font-style: italic;
                overflow-wrap: break-word;
            }
        }
    }
}
