$pad: 1em;

$w-8: 70%;
$w-9: 75%;
$w-10: 90%;
$w-11: 96%;

$c-light: #efefef;
$c-dark: #303030; // jet
$c-darker: #232323; // raisin black
$c-gold: #e2ca51; // sun ray #f0d437;
$c-gold-dark: #d3bd4c; // old gold // #8f7900;
$c-green-dark: #8db959;
$c-blue: #656a75;
$c-blue-darker: #525761;
$c-red: #995543; // coconut
$c-highlight: #fffb00;
