$pad: 1em;

$w-8: 70%;
$w-10: 90%;
$w-11: 96%;

$c-light: #efefef;
$c-dark: #282828;
$c-darker: #222;
$c-gold: #f0d437;
$c-gold-dark: darkgoldenrod; // #8f7900;
$c-blue: #656a75;
$c-blue-darker: #525761;
$c-highlight: #fffb00;
